---
import type { NumberedItem } from "@/types/article";

type Props = {
  items: NumberedItem[];
};

const { items } = Astro.props;
---

<div class="numbered-list">
  {
    items.map((item) => (
      <article class="numbered-list__item">
        <p class="numbered-list__label">{item.label}</p>
        <p class="numbered-list__copy">
          <strong>{item.title}</strong> {item.body}
        </p>
      </article>
    ))
  }
</div>

<style>
  .numbered-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @media (min-width: 64rem) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.5rem;
    }
  }

  .numbered-list__item {
    display: grid;
    grid-template-columns: 0.5rem minmax(0, 1fr);
    gap: 0.75rem;
    align-items: start;

    @media (min-width: 64rem) {
      grid-template-columns: 1.75rem minmax(0, 1fr);
      gap: 1.5rem;
      align-self: start;
    }
  }

  .numbered-list__label {
    width: max-content;
    color: var(--text-muted);
    font-size: 0.5rem;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;

    @media (min-width: 64rem) {
      font-size: 1.25rem;
      letter-spacing: 0.03em;
    }
  }

  .numbered-list__copy {
    color: var(--text-muted);
    font-size: 0.75rem;
    line-height: 1.25;

    @media (min-width: 64rem) {
      color: var(--text-normal);
      font-size: 1.5rem;
      letter-spacing: 0.02em;
      line-height: 1.25;
    }
  }
</style>
