---
import Head from "@/components/head.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Head />
    <title>{title}</title>
  </head>
  <body>
    <main class="article">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  .article {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    max-width: var(--page-max);
    min-height: 100vh;
    margin-inline: auto;
    background: #000;

    & strong {
      font-weight: 700;
      opacity: 0.8;
    }

    & .article__section-copy {
      font-size: 0.875rem;
      line-height: 1.4;
      letter-spacing: 0.02em;
      max-width: 56ch;
      color: var(--text-normal);
      @media (min-width: 64rem) {
        grid-column: 2 / -1;
        font-size: 1.5rem;
        letter-spacing: 0.03em;
      }
      @media (min-width: 80rem) {
        font-size: 1.75rem;
      }

      &.article__section-copy--start {
        @media (min-width: 64rem) {
          grid-column: 1 / span 2;
        }
      }
    }
  }
</style>
