---
import Banner from "@/components/banner.astro";
import Title from "@/components/title.astro";
import Showcase from "@/components/showcase.astro";
import About from "@/components/about.astro";
import Head from "@/components/head.astro";
---

<html lang="en">
  <head>
    <Head />
    <title>Firas Razak ⸱ Product Design & Management</title>
  </head>
  <body>
    <Banner />
    <main>
      <Title />
      <Showcase />
      <About />
    </main>
  </body>
</html>
