---
import Logo from "@/graphics/waf.svg";
import Squiggle from "@/graphics/squiggle.svg";
---

<section class="hero" aria-labelledby="title">
  <div class="hero__squiggle" aria-hidden="true">
    <Squiggle class="squiggle" />
  </div>

  <div class="hero__footer">
    <hgroup id="title" class="hero__profile">
      <h1>Firas Razak</h1>
      <p>Product Design & Management</p>
    </hgroup>

    <nav class="hero__links" aria-label="Homepage sections">
      <a class="hero__link hero__link--showcase" href="#showcase">Showcase</a>
      <a class="hero__link hero__link--contact" href="#contact">
        <span><span class="hero__link-muted">Skip to </span>Contact</span>
        <Logo />
      </a>
    </nav>
  </div>
</section>

<style>
  .hero {
    box-sizing: border-box;
    scroll-margin-top: calc(var(--py) * 2 + 3rem);
    scroll-snap-align: start;
    min-height: calc(100lvh - var(--px) * 8);
    display: grid;
    padding-block: 1.5rem;
    color: var(--text-strong);
    grid-template-rows: 1fr;
    transition: opacity 600ms;
    opacity: 1;
    @media (min-width: 48rem) {
      min-height: calc(100lvh - var(--px) * 3);
    }
    @media (min-width: 64rem) {
      min-height: calc(100lvh - var(--px) * 5);
      padding: 0 var(--px) 0;
    }

    & .hero__squiggle {
      display: grid;
      align-items: center;
    }

    & .squiggle {
      align-self: center;
      width: 100vw;
      height: auto;
      color: var(--text-normal, #ffffffbf);
      overflow: visible;

      @media (min-width: 64rem) {
        width: 100%;
        margin-block: 0;
      }
    }

    & .hero__footer {
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto;
      align-items: end;
      gap: 0.75rem;
      padding-inline: var(--px);

      @media (min-width: 64rem) {
        padding-inline: 0;
      }
    }

    & .hero__profile {
      display: flex;
      min-width: 0;
      flex-direction: column;
      gap: 0.125rem;
      font-size: 0.875rem;
      line-height: 1;

      & h1 {
        font-size: inherit;
        font-weight: 500;
      }

      & p {
        color: var(--text-muted);
        line-height: 1.2;
        letter-spacing: 0.03em;
      }

      @media (min-width: 64rem) {
        flex-direction: row;
        gap: 0.75rem;
        font-size: 1rem;
      }
    }

    & .hero__links {
      display: grid;
      place-items: end;

      @media (min-width: 64rem) {
        gap: 2.25rem;
      }
    }

    & .hero__link {
      @media (min-width: 64rem) {
        position: relative;

        &::after {
          position: absolute;
          top: 50%;
          left: calc(100% + 1rem);
          content: "";
          width: 5rem;
          border-top: 1px solid var(--hairline);
        }

        &:hover {
          color: #fff;
        }
      }

      &.hero__link--showcase {
        display: none;

        @media (min-width: 64rem) {
          display: grid;
          place-items: end;
          gap: 0.25rem;
        }
      }

      &.hero__link--contact {
        display: grid;
        place-items: end;
        gap: 0.5rem;
        color: var(--text-normal);
        font-size: 1rem;

        & span {
          writing-mode: sideways-lr;
          text-align: right;
          line-height: 1;
        }

        & .logo {
          width: 0.85em;
          height: auto;
          transform: rotate(-135deg) translateX(0.15em);
        }

        @media (min-width: 64rem) {
          & span {
            writing-mode: horizontal-tb;
          }

          & .hero__link-muted,
          & .logo {
            display: none;
          }
        }
      }

      & .hero__link-muted {
        color: var(--text-muted);
      }
    }

    &.is-past-hero {
      opacity: 0;
    }
  }
</style>
